  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .dark-mode {
    background-color: #1a1a1a; /* Dark background color */
    color: white;
  }

  .fab.fa-linkedin, .fab.fa-github {
    color: white;
  }
  
  .center {
    text-align: center;
  }
  
  p a {
    margin-right: 15px;
  }

  .tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 20px;
  }

  .row {
    justify-content: center;
  }

  .cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
  }
