  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .dark-mode {
    background-color: #1a1a1a; /* Dark background color */
    color: white;
  }
  
  .center {
    text-align: center;
  }
  